.user-profile {
  padding: 20px;
  text-align: center;
  flex: 1;
  background-color: #f0f2f5;
}

.profile-pic {
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 10px;
}

.follow-button {
  background: #4267b2;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}
